<table class="table">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tipo de identificacion</th>
      <th scope="col">Identificacion</th>
      <th scope="col">Primer nombre</th>
      <th scope="col">Segundo nombre</th>
      <th scope="col">Primer apellido</th>
      <th scope="col">Segundo apellido</th>
      <th scope="col">Rol</th>
    </tr>
  <tbody>
   <%= render @people %>
  </tbody>
  
</table>